body {
    margin: 0;
}

.company-name {
    display: flex;
    color: white;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}

header {
    background-color: #333;
    padding: 20px;
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: space-around;
    width: 97.65%; /* if I make the width 100%, the navbar goes off the screen, so I set it to 97.65% to properly fit */
    background-color: #ddd;
    padding: 10px 20px 10px 20px;

}

.about-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.shop-now {
    display: flex;
    justify-content: center;
}

.shop-button {
    background-color: #4CAF50;
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.customer-reviews {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

footer {
    background-color: #333;
    padding: 10px;
    margin: 0;
}

footer p {
    color: white;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.contact-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

.contact-method a:hover {
    color: coral;
}
