.company-name {
    display: flex;
    color: white;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}

header {
    background-color: #333;
    padding: 20px;
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #ddd;
    padding: 10px 20px 10px 20px;

}

.about-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.shop-now {
    display: flex;
    justify-content: center;
}

.shop-button {
    background-color: #4CAF50;
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}